body {
  background-image: url("../img/Table2.jpg");
  margin-top:20px;
}


#overlay {
    background:rgba(0,0,0,0.5);
    display:none;
    width:100%; height:100%;
    position:absolute; top:0; left:0; z-index:99998;
}

.expose {
    position:relative;
}

.stableBtn {
  margin-top:48px;
}

.home {
  margin-top:40px;
}

.noArrow {
  padding-right:0.8rem !important;

}

.noArrow:after {
  display:none !important;
}

.question {
  display:inline-block;
  font-size:0.6875rem;
  margin-right:10px;
}

.groupNameEx {
  position:abolute;
  z-index:99;
  width:60%;
  height:120px;
  background-color:rgb(77, 77, 77);
  color:white;
  font-size:12px;
  margin-top:-50px;
}

.groupNameFill {
  font-size:20px;
}

.groupNameBanner {
  width:400px;
  display:inline-block;
  text-align: center;
  color:white;
}

.groupList {
  width:90%;
  min-height:140px;
  background-color:rgb(77, 77, 77);
  color:white;
  text-align: center;
  padding-top:20px;
  border-radius:5px;
  position:relative;
  margin-top:-20px;
}

.groupList ul {
  display:block;
  padding:0;
  margin-bottom:50px;
}

.groupList li {
    list-style: none;
    margin-bottom:10px;
}

.newGroup {
  display:block;
  width:100%;
  position:absolute;
  text-align: center;
  bottom:15px;
  color:white;
}

.memberFill {
  width:70%;
  height:200px;
  font-size:20px;
  margin-top:-20px;

}

.groupName{
  color:white;
  font-size:20px;
}

.continue {
  margin-top:40px;
}

.submitBtn {
  margin-top:40px;
  float:right;
}



.progressBar {
  margin-top:10px;
  float: right;
  margin-top:-1px;
  margin-left:-10px;

}

.postcardImg {
  vertical-align: middle;
  max-height:100%;
  max-width:100%;
}

.postcardFront  {
  text-align: center;
}

.postcardFront img {
  max-width:96%;
  max-height:96%;
}

.postcardFront:before {
  content: "";
  display: inline-block;
  height:100%;
  vertical-align: middle;
}

.namePostcard { 
  color: rgba(193,53,69, 0.8);
  float:right;
  text-align: center;
  font-style: italic;
  position:absolute;
  top:15px;
  right:0;
  width:200px;
  background:#fff;
  padding-top:5px;
  height:30px;

}

.namePostcard:active {
  color: rgba(193,53,69, 1);
}

.namePostcard:hover {
  color: rgba(193,53,69, 1);  
}

#postcardFront .eventName {
  padding-top:20px;
  padding-right:20px;
}

.groupToggle {
  float:right;
  height:400px;
  padding:10px;
  color:rgba(193,53,69, 0.8);
}

.groupToggle:hover {
  color:rgba(193,53,69, 1);
}

.groupToggle:active {
  color:rgba(193,53,69, 1);
}

.right-off-canvas-menu li {
  padding-top:5px;
  color:white;
  list-style: none;
}

.photoSelectIcons {
  padding-top:13%;
  padding-left:30%;
}

.cameraTools {
  width:486px;
  margin:0 auto;
  margin-top:6%;
  position:relative;
  display: none;
}

#webcamExit{
  position:absolute;
  top:5px;
  right:5px;
  display:none;
}

.photoApprover .button {
  width:49.2%;
}

#takePhoto {
  width:86%;
  display:block;
  margin:0 auto;
  font-size:20px;
}

.photoButtons.button{
  width:60%;
  padding:30px 0px;
  font-size:30px;
}

.postcardBack  {
  padding:20px;
}

.postcardStack {
  width:600px;
  height:425px;
  margin-top:20px;
  background-color:white;
  float:right;
  position:relative;
  -webkit-box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  -moz-box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
}

.postcardStack:after { 
  width:100%;
  height:100%;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -webkit-box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  -moz-box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  background-color:white;
  position:absolute;
  display:block;
  content: "";
  top:5px;
  left:5px;
  z-index:-1;
}

.postcardContent {
  width:60%;
  height: 100%;
  float:left;
  padding: 10px 15px 10px 0px;
}

.postcardContent textarea {
  width:180%;
  height:90%;
  resize:none;
  border:none;

}

.confirmPostcard {
  width:600px;
  height:425px;
  background-color:white;
  position:relative;
  -webkit-box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  -moz-box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);

}


.confirmPostcard:after { 
  width:100%;
  height:100%;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -webkit-box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  -moz-box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  background-color:white;
  position:absolute;
  display:block;
  content: "";
  top:5px;
  left:5px;
  z-index:-1;
}

.confirmContent {
  text-align: center;
  font-family: helvetica;
  font-size:25px;
  padding-top:100px;
  color: rgb(77, 77, 77);

}

.confirmSentBtn {
  margin-left:150px;
  margin-top:40px;
  width:50%;
  font-size:1.3rem;
}

.recBar {
  margin-top:100px;
}



.contactListForm {
  text-align: center;
  width:450px;
  height:310px;
  border:5px solid white;
  border-radius:10px;
  -webkit-box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  -moz-box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  padding:5px 30px;
  positioin:relative;
  overflow: scroll;
  display:none;
}


.contactList li {
  list-style: none;
  width:380px;
  height:50px;
  background-color: rgb(80, 80, 80);
  text-align:center;
  margin-top:10px;


}

.contactList li:active {
  background-color:rgba(193,53,69, 0.8);
}

.contactName {
  border-right: solid white;
  padding-right:20px;
  margin-top:20px;
  margin-right:20px;
  text-align:right;

}

.contactBar {
  color: white;
  font-size:16px;
  line-height:3.1em;
}

.tabs-content .addressBook {
  list-style: none;
  width:300px;
  height:30px;
  text-align:left;
  background-color:white;
  margin-top:0px;
}


.selectAllMembers {
  background-color: rgb(120, 120, 120);
  font-size:16px;
  line-height:2.7em;
  height:50px;
  width:380px;
  margin-top:10px;
  text-align: center;

}

.selectAllMembers:active {
  background-color:rgba(193,53,69, 0.8);
}

.selectAllMembers a {
  color:white;
}

.floatLeft {
  float:left !important;
}

/*addmember original */
.addMember {
  width:380px;
  background-color: rgb(120, 120, 120) !important;
  color:white !important;
  margin-top:10px;
  text-align: center;
  height:50px;
  vertical-align: center;
  line-height: 1.2em;
}


.addMember:active {
  background-color:rgba(193,53,69, 0.8) !important;
}



.accordionTabs {
  width:170px;
  margin-right:5px;
  text-align: center;
}


.accordionPanel {
  width:380px;
}
.eventName {
  float:right;
/*  padding:10px;
  width:200px;
  border-radius:10px;
  background-color: rgba(193,53,69,0.9);*/
  text-align: center;
  font-style: italic;
  color:rgb(150, 150, 150);
  position:absolute;
  top:0;
  right:0;
  width:200px;
}


.eventName2 {
  margin-right:20px;
  margin-top:20px;
}

.postcardRecInfo {
  width:40%;
  height:85%;
  float:left;
  padding-top:20%;
  border-left:1px solid rgb(200, 200, 200);
}


.addressInfo {
  width:75%;
  height:25px;
  margin-left:15%;
  margin-right:10%;
  border-bottom:1px solid rgb(180, 180, 180);
  color:rgb(200, 200, 200);
  margin-bottom:10px;
}

.addressBoxModal {
  background-color: rgb(220, 220, 220);
  width:70%;

}

.trashMedia {
  font-size:30px;
  color:rgb(77, 77, 77);
  vertical-align: middle;
}

.progress {
  width:70%;
  margin:0 auto;
  margin-bottom:30px;
}

.stateModal {
  height:300px;
  background-color: rgba(40, 40, 40, 0.95);

}
.postcardState {
  width:90%;  
  height:200px;
  text-align: center;
  margin-left:60px;
  top:40px;
}

.postcardState label {
  font-size:20px;
  color:rgb(240, 240, 240);
}

.marginTop {
  margin-top:10px;
}

.addMediaBtn {
  float:right;
  /*display:none;*/
}

.richMediaIcon {
  float:right;
 display:none;
}

.richMediaList li {
  list-style:none;
  text-align: center;
}

.mediaListBox {
  margin-right:10px;
  width:30%;
}

#flipBtn {
  float:right;
  clear:both;
  margin-top:-50px;
  margin-right:-90px;
}


.menuButtons .button {
  width:100%;
  font-size:20px;
  padding:40px;
  display:block;
  height:130px;
}

.menuButtons i {
  font-size:60px;
  display:block;
  float:left;
  height:;
}

.menuHeadline {
  color:white;
  margin-top:-30px;
  margin-bottom:20px;
}

.inbox {
  margin-top: 15px;
}

.button { 
  background-color: rgba(193,53,69,0.9);
  padding:0.8rem;
}

.button.small {
  padding:0.6rem;
}

.button:focus, .button:hover {
  background-color: rgb(170,53,69);
}

.button.disabled {
  background-color: rgb(180, 180, 180);
}

.button.disabled:focus, .button.disabled:hover {
  background-color: rgb(180, 180, 180);
}

.icon-text .fa{
  margin-right:10px;
}

.vertical-wrapper {
  position:relative;
  height:340px;
  padding-left:45px;

}

.tabs-vertical {
    -webkit-transform-origin: top left;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
  width:380px;
  left:0px;
  top:386px;
  margin-top:0px;
  position:absolute;

}

.tabs-vertical li {
  width:170px;
  text-align: center;
}


.panel-content {
  width:150px;
  height:400px;
  background-color:white;
  border-radius:10px;
  padding:15px;
}

.recList .button.small {
  width:80px;
}

.recList .fa {
  margin-left:10px;
  font-size:1.5em;
  color:rgb(170,53,69);
}

.recInfo {
  width:500px;
  height:400px;
  border:5px solid white;
  border-radius:10px;
  -webkit-box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  -moz-box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  box-shadow: 5px 5px 5px -2px rgba(61,60,61,0.67);
  padding:5px 30px;
  positioin:relative;
  overflow: scroll;
/*  display:none;*/
}


.recInfoTab {
  margin-left:10px;
  width:600px;
}

.recInfoTab li{
  width:210px;
  text-align: center;

}




.confirmAddress {
  bottom:40px;
  float:right;

}


.confirmState {
  clear:both;
  width:200px;
  float:right;
  bottom:10px;
  right:80px;
}


.mediaSelection {
  list-style:none;
}

.mediaSelection .button {
  width:13%;
  background-color:white;
/*  color:rgb(193,53,69);*/
  color:black;
}

.mediaSelection .button:focus, .mediaSelection .button:hover {
  background-color: rgb(220, 220, 220);
}


.mediaContent {
  background-image: url("../img/torn-paper.png");
  width:600px;
  height:425px;
  margin-top:-320px;
  background-position: 30px top;
  background-repeat: no-repeat;

}

.attachBtn {
  margin-top:-110px;
  margin-right:140px;
}

input.halfWidth {
  display:inline-block;
  width:49%;
}


.tabs .tab-title > a, .tabs .tab-title > a:hover { 
  /* Default colors */ 
  background: rgba(150, 150, 150, 0);
  border: 2px solid white;
  color:black;
  padding:0.5rem 1rem;
  
  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
}

.tabs .active {
  /* Highest, active tab is on top */
  z-index: 3;

}
.tabs .tab-title.active > a, .tabs .tab-title.active > a:hover{ 
  /* Colors when tab is active */
  color: black; 
  background: white; 
}
.tabs li:before, .tabs li:after, 
.tabs li a:before, .tabs li a:after {
  /* All pseudo elements are 
     abs. positioned and on bottom */
  position: absolute;
  bottom: 0;
}
/* Only the first, last, and active
   tabs need pseudo elements at all */
.tabs li:last-child:after,   .tabs li:last-child a:after,
.tabs li:first-child:before, .tabs li:first-child a:before,
.tabs .active:after,   .tabs .active:before, 
.tabs .active a:after, .tabs .active a:before {
  content: "";
}
.tabs .active:before, .tabs .active:after {
  background: white;
  
  /* Squares below circles */
  z-index: 1;
}

.tabs .active a:after, .tabs .active a:before {
  background: rgb(180, 180, 180);
}
/* First and last tabs have different
   outside color needs */
.tabs li:first-child.active a:before,
.tabs li:last-child.active a:after {
  background: white;
}
.tabs li a:before {
  left: -20px;
}
.tabs li a:after {
  right: -20px;
}




.top-bar .toggle-topbar.menu-icon a {
    height: 34px;
    line-height: 33px;
    padding: 0;
    padding-right: 30px;
    color: #FFF;
    position: relative;
}    

.top-bar .toggle-topbar.menu-icon a::after {
    box-shadow: 0 6px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    -webkit-box-shadow: 0 6px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    display: block;
    height: 2px;
    right: 0px;
    position: absolute;
    top: 1px;
    width: 20px;
}