.bg
{
	font-family: 'Quicksand', sans-serif;
	font-size:80px !IMPORTANT;
	color:white !important;
	text-align:left !important;
	padding-top:5px;
	margin-top:0px !important;
	margin-bottom:0px !important;
	font-weight:bold !important;
}

.bg2
{
	font-family: 'Quicksand', sans-serif;
	font-size:30px !IMPORTANT;
	color:#FFFFFF !important;
	text-align:left !important;
	font-weight:bold !important;
	margin-left:225px !important;
}
.bg3
{
	font-family: 'Indie Flower', cursive;
	font-size:45px !IMPORTANT;
	color:#FFFFFF !important;
	text-align:center !important;
	font-weight:bold !important;
}
.bg4
{
	font-family: 'Shadows Into Light', cursive;
	font-size:40px !IMPORTANT;
	color:#FFFFFF !important;
	text-align:left !important;
	font-weight:bold !important;
	padding-top:25px;
}
.mm
{
	text-align:center !important;
	padding-top:0px;
	margin-left:200px !important;
	margin-bottom:0px !important;
	font-weight:bold !important;
}
.mm1
{
	text-align:center !important;
	padding-top:0px;
	margin-left:300px !important;
	margin-bottom:0px !important;
	font-weight:bold !important;
}
.bgm
{
	height:627px !important;
	padding-top:15px;
	width:1335px !important;
	font-weight:bold !important;
}
.padup
{
	padding-top:17px;
	margin-left:17px !important;
	font-weight:bold !important;
	color:white !important;
}
.bgm
{
	background: url("bgpc.jpg") !important;
	color:white !important;
	height:65px !important;
	width:1335px !important;
}
.menubtnl
{
	margin-left:0px !important;
	height:133px !important;
	width:249px !important;
}
.menubtnr
{
	margin-left:0px !important;
	height:133px !important;
	width:249px !important;
}
.btn1
{
	font-size:		14px !important;
	background-color:	white;
	font-weight:		bold;
	color:			black;
}
.alg1
{
	font-family: 'Quicksand', sans-serif;
	font-size:30px !IMPORTANT;
	color:#FFFFFF !important;
	text-align:left !important;
	font-weight:bold !important;
	margin-left:108px !important;
}
.btn2
{
	height:40px !important;
	width:108px !important;
	font-size:		15px !important;
	background-color:	grey;
	font-weight:		bold;
	color:			white;
}
.displayimg
{
	height:267px !important;
	width:462px !important;
}
.msglabel
{
	
	margin-left:70px !important;
	color: white !important;
	font-size:35px !important;
	
}
.msgbox
{
	font-family: 'Indie Flower', cursive;
	margin-left:96px !important;
	height:300px !important;
	width:580px !important;
	font-size:20px !important;
	color: black !important;
}
.insertlabel
{
	font-family: 'Shadows Into Light', cursive;
	font-size:30px !IMPORTANT;
	color:#FFFFFF !important;
	text-align:center !important;
	font-weight:bold !important;
	
}
.choosefile
{
	font-family: 'Shadows Into Light', cursive;
	font-size:20px !IMPORTANT;
	color:#FFFFFF !important;
	margin-left:75px !important;
	font-weight:bold !important;
	
}
.evname
{
	font-family: 'Shadows Into Light', cursive;
	font-size:30px !IMPORTANT;
	color:#FFFFFF !important;
	text-align:left !important;
	font-weight:bold !important;
	
}
.txtbox
{
	font-family: 'Indie Flower', cursive;
	height:15px !important;
	width:30px !important;
	font-size:10px !important;
	color: black !important;
}

.wel
{
	font-family: 'Quicksand', sans-serif;
	font-size:30px !IMPORTANT;
	color:#FFFFFF !important;
	text-align:left !important;
	font-weight:bold !important;
	
}
